- var persisted = (typeof item !== 'undefined') && item._id;
- var item = item || {};
- var url = persisted ? '/admin/update/' + item._id : '/admin/new';
form.form-horizontal(action= url, method= 'post')
  fieldset
    .control-group
      label.control-label(for='input-type') Type
      .controls
        label.radio Episode
          input(name='type', type='radio', value='episode')
        label.radio Post
          input(name='type', type='radio', value='post')
        label.radio Link
          input(name='type', type='radio', value='link')
    .control-group
      label.control-label(for='input-title') Title
      .controls
        input(name='title', id='input-title', class='input-xlarge', type='text', value=item.title)
    .control-group
      label.control-label(for='input-permalink') Permalink
      .controls
        input(name='permalink', id='input-permalink', class='input-xlarge', type='text', value=item.permalink)
    .control-group
      label.control-label(for='input-tags') Tags
      .controls
        input(name='tags', id='input-tags', class='input-xlarge', type='text', value=item.tags)
    .control-group
      label.control-label(for='input-author') Author
      .controls
        input(name='author', id='input-author', class='input-xlarge', type='text', value=item.author)
    .control-group
      label.control-label(for='input-url') URL
      .controls
        input(name='url', id='input-url', class='input-xlarge', type='text', value=item.url)
    .control-group
      label.control-label(for='input-number') Number
      .controls
        input(name='number', id='input-number', class='input-mini', type='text', value=item.number)
    .control-group
      label.control-label(for='input-size') size
      .controls
        input(name='size', id='input-size', class='input-mini', type='text', value=item.size)
    .control-group
      label.control-label(for='input-duration') duration
      .controls
        input(name='duration', id='input-duration', class='input-mini', type='text', value=item.duration)
    .control-group
      label.control-label(for='input-excerpt') Excerpt
      .controls
        textarea(name='excerpt', id='input-excerpt', class='input-xlarge', type='text', rows=10)= item.excerpt
    .control-group
      label.control-label(for='input-body') Body
      .controls
        textarea(name='body', id='input-body', class='input-xlarge', type='text', rows=10)= item.body
    .form-actions
      button(type='submit').btn.btn-primary Desar
      button.btn Cancel.lar
