.comment
  a.avatar(href=comment.author.url)
    img(src=comment.author.avatar)
  .comment-box
    header
      a.author(href=comment.author.url)= comment.author.name
      .date= moment(comment.created_at).fromNow()
    .body
      p!= markdown.parse(comment.body)
