!!! xml
rss(version='2.0', 'xmlns:itunes'="http://www.itunes.com/dtds/podcast-1.0.dtd", 'xmlns:media'='http://search.yahoo.com/mrss/')
  channel
    title Sem&#224;ntic
    link="http://semantic.cat"
    description Podcast d'inform&#224;tica en catal&#224;
    language ca
    pubDate 24 Sep 2011
    lastBuildDate 24 Sep 2011
    itunes:author Sem&#224;ntic
    itunes:subtitle Podcast d'inform&#224;tica en catal&#224;
    itunes:keywords inform&#224;tica, podcast, catal&#224;, enginyeria en inform&#224;tica, programaci&#243;, internet, tecnolog&#237;a
    itunes:summary Podcast d'inform&#224;tica en catal&#224;
    itunes:explicit clean
    itunes:image(href="http://semantic.cat/images/semanticlogo.jpg")
    itunes:owner
      itunes:name Sem&#224;ntic
      itunes:email podcast@semantic.cat
    itunes:block no
    itunes:category(text="Technology")
      itunes:category(text="Tech News")
    itunes:category(text="Technology")
      itunes:category(text="Software How-To")
    each item in items
      item
        title= "Capítol " + item.number  + ": " + item.title
        description= markdown.parse(item.body.split('---')[0])
        pubDate= moment(item.created_at).format('D MMM YYYY') // 24 Sep 2011
        enclosure(type="audio/mpeg", length=item.asset_file_size, url=item.url)
        link= 'http://semantic.cat/' + item.permalink
        guid= 'http://semantic.cat/' + item.permalink
        itunes:author Sem&#224;ntic
        itunes:subtitle= markdown.parse(item.excerpt).slice(0,150)
        itunes:summary= markdown.parse(item.body.split('---')[0])
        itunes:explicit no
        itunes:duration= item.duration
